/building_blocks/catalog_impact/puppet-catalog-diff-viewer/
/building_blocks/catalog_impact/puppet-catalog_diff/
/building_blocks/dependabots/dependabot-core/
/building_blocks/dependabots/renovate/
/building_blocks/module_health/dependency_checker/
/building_blocks/module_health/puppet-ghostbuster/
/building_blocks/module_health/puppetfile-resolver/
/building_blocks/module_health/r10k-resolve/
/building_blocks/testing/onceover/
